spec/test_data/validators/schematron_rules.xml

<schema xmlns="http://www.ascc.net/xml/schematron" xmlns:cda="urn:hl7-org:v3">
<!-- 
To use iso schematron instead of schematron 1.5, 
change the xmlns attribute from
"http://www.ascc.net/xml/schematron" 
to 
"http://purl.oclc.org/dsdl/schematron"
-->

<title>Schematron schema for validating conformance to CCD documents</title>

  
  <phase id='errors'>
      <active pattern='Required ID'/>
      <active pattern='Required IDREF'/>
      <active pattern='IDREF should reference an ID used in the same document'/>
      <active pattern='IDREF should reference an ID of a certain element type only'/>
  </phase>
  
  
     <pattern id="Required ID">
          <rule context = "cat | dog">
               <assert test = "@id">An element of type <name/> should have an id attribute that is a unique identifier for that animal.</assert>
          </rule>
     </pattern>

     <pattern id="Required IDREF">
          <rule context = "catowner">
               <assert test = "@pet">An element of type <name/> should have a pet attribute.</assert>
          </rule>
     </pattern>

     <pattern id="IDREF should reference an ID used in the same document">
          <rule context = "catowner[@pet]">
               <assert test = "id(@pet)">An element of type <name/> should have a pet attribute that should contain a unique identifier.</assert>
          </rule>
     </pattern>

     <pattern id="IDREF should reference an ID of a certain element type only">
          <rule context = "catowner[@pet]">
               <assert test = "(name(id(@pet)) ='cat')">An element of type <name/> should have a pet attribute that should contain the unique identifier for a cat.</assert>
          </rule>
     </pattern>
</schema>